<ion-view view-title="Login" class="backg">
  <ion-content class="padding" scroll="false">

    <h1 id="logo" class="text-center">environ</h1>
    <!--<img class="test" src="../img/ladybug.png">-->
    
    <form name="user" novalidate>
      <div class="list list-inset" id="login-list"> 
        <i class="icon ion-email placeholder-icon"></i>
        <label class="item item-input">
          <input type="text" placeholder="Email" name="email" ng-model="email" required>
        </label>
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Password" name="password" ng-model="password" required>
        </label>   
        <div class="item">
          <p ng-show="user.email.$error.required">* Email is required</p>
          <p ng-show="user.password.$error.required">* Password is required</p>
        </div>
      </div>
      <div class="button-bar bar-balanced">
        <input class="button " type="submit" value="Login" ng-click="login(user)" ng-disabled="user.$invalid">
        <input class="button " type="button" value="Forgot Pass" ng-click="resetPassword(user)" ng-disabled="user.email.$error.required">
        <input class="button " type="submit" value="Sign-Up" ng-click="signup(user)" ng-disabled="user.$invalid">        
      </div>
    </form>
    <div class="backg"></div>
  </ion-content>
</ion-view>
